.card {
  position: relative;

  .card__content {
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    h3 {
      color: #fff;
      font-size: 2.4rem;
    }

    p {
      color: #fdfdfd;
    }
  }
}
