.control {
  min-height: 90vh;
  background: url(../../assets/control-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  position: relative;
  padding: 0;

  .card {
    max-width: 45rem;
    padding: 2rem;
    padding-left: 10rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;

    p {
      font-size: 1.4rem;
      line-height: 2rem;
      color: #2f2f2f;
    }

    h1 {
      font-size: 3rem;
      line-height: 4rem;
      color: #000;
      margin-top: 2rem;
    }

    p:nth-child(3) {
      size: 1.6rem;
      margin-top: 2rem;
    }

    .btn {
      background: #ff5c5c;
      padding: 1rem 4rem;
      border: 1px solid #ff5c5c;
      border-radius: 4rem;
      color: #fff;
      font-size: 1.5rem;
      margin-top: 3rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: transparent;
        color: #2d2d2d;
      }
    }
  }
}
