@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$letter-spacing: 1.5px;
$transition: all 0.3s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

section,
footer {
  padding: 10rem 9%;
}

@media (max-width: 768px) {
  section,
  footer {
    padding: 5rem 9%;
  }
}

@media (max-width: 450px) {
  section,
  footer {
    padding: 3rem 9%;
  }
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
  color: unset;
}

button {
  cursor: pointer;
}

.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@mixin flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
